.container#content {
  margin-top: 60px;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
  background-color: whitesmoke;
  font-family: system-ui;
}

a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);

  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #1350a5;
  font-family: system-ui;
  font-weight: bolder;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
}

.navbar img {
  padding-bottom: 5px;
}

.my-post {
  font-family: system-ui;
}

.my-card {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
}
.my-card-side {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.my-button {
  border: 3px solid purple;
  color: purple;
}

.my-button:hover {
  border: 3px solid purple;
  background-color: purple;
  color: white;
}

.my-title {
  color: purple;
  text-transform: uppercase;
  font-size: 1.5em;
}

.my-link {
  color: purple;
}

.my-tags {
  font-family: system-ui;
  background-color: teal;
}
.my-tags:hover {
  opacity: 80%;
}

.my-social {
  width: 500px;
  height: 500px;
}

.layout-header {
  text-align: center;
  font-family: system-ui;
  color: black;
  font-size: 1.5em;
}

.pages-block {
  border: 2px solid black;
  color: purple;
}

.pages-link {
  color: purple;
}

.side-link {
  color: purple;
}

.side-input {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.my-authors {
  margin: 10px;
}

.my-button-author {
  border: 3px solid purple;
  background-color: white;
  color: purple;
}

.my-button-author:hover {
  border: 3px solid purple;
  background-color: white;
  color: purple;
}
.comments-style {
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.my-rating-single {
  background-color: orange;
  border: 2px solid black;
  float: right;
  font-size: 1.5em;
  font-weight: lighter;
}

.my-rating {
  background-color: orange;
  border: 2px solid black;
  float: right;
  font-weight: lighter;

  font-size: 1em;
}

.section-header {
  font-size: 1.5em;
  text-align: left;
  color: #1350a5;
  font-weight: bold;
}
.tagline-header {
  font-size: 1em;
  text-align: left;
  color: black;
  font-weight: bold;
}

.plumbing-cards {
  background-color: lightgray;
  border: none;
}

.read-more {
  background-color: #1350a5;
  color: whitesmoke;
  font-weight: bold;
  border: none;
}

.read-more:hover {
  background-color: whitesmoke;
  color: #1350a5;
  font-weight: bold;
}

.sidebar-card-title {
  background-color: #1350a5;
  color: white;
}

.middle-sidebar-card {
  background-color: #1350a5;
  color: white;
}

.contact-icons {
  float: right;
}

.middle-sidebar-card-title {
  background-color: white;
  color: #1350a5;
}
