@keyframes navbarfont {
  0% {
    color: #ff2153;
  }

  30% {
    color: #f9eb0f;
  }

  60% {
    color: #10e7e2;
  }

  90% {
    color: #ca7cd8;
  }

  100% {
    color: #3968cb;
  }
}

.site-footer {
  background-color: grey;
  border-top: 3px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-top: 20px;
  padding: 10px;
  text-align: left;
  color: white;
}
